* {
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --small: 1vw;
  --middle: 2vw;
  --large: 3vw;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

a {
  color: #fff;
  font-size: var(--small);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.green-links {
  color: #1fbea2;
  font-size: var(--small);
  text-decoration: none;
}

.green-links:hover {
  text-decoration: underline;
}

.right-border {
  border-right: 1px solid #17202a;
}

.left-border {
  border-left: 1px solid #17202a;
}

.bar {
  width: 100vw;
  background: #2c3e50;
  font-size: 0;
}

.bar-wrap {
  width: 70vw;
  margin: 0 auto;
  position: relative;
}

.bar-links-wrap {
  width: 48vw;
  height: 3vw;
  overflow: hidden;
  display: inline-grid;
  grid-template-columns: repeat(4, minmax(max-content, auto));
}

.bar-links {
  width: 100%;
  text-align: center;
  height: 3vw;
  line-height: 3vw;
}

.bar-links>span {
  font-size: var(--small);
  color: #fff;
}

.drop {
  display: none;
  font-size: 2vw;
  line-height: 3vw;
  padding-left: 0.5vw;
}

.bar-icons-wrap {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  justify-content: space-around;
}

.bar-icons {
  line-height: 3vw;
  font-size: var(--small);
  text-align: center;
  width: 3vw;
  height: 3vw;
}

.nav {
  width: 100vw;
}

.nav-wrap {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: var(--large);
  color: #2c3e50;
  font-weight: bold;
  height: 5vw;
  line-height: 5vw;
}

.logo>em {
  color: #1dd2af;
  font-style: normal;
}

.nav-main {
  display: inline-flex;
  width: 40vw;
  justify-content: space-around;
}

.nav-main>div {
  height: 5vw;
  line-height: 5vw;
}

.nav-main-items {
  font-size: var(--small);
  color: #5d6e80;
  font-weight: bold;
}

.nav-active {
  color: #2cd5b4;
}

.nav-search {
  font-size: var(--large);
}

.form-wrap {
  width: 100vw;
  background: #2c3e50;
}

.form {
  font-size: var(--small);
  color: #5d6e80;
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr .6fr;
}

.form-tit {
  font-size: calc(var(--small) * 1.6);
  color: #fff;
  border-right: 1px solid #3d5164;
}

.form-tit>span {
  color: #5d6e80;
  font-size: var(--small);
}

.where, .when {
  width: 95%;
  height: 100%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.form label {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.form svg {
  position: absolute;
  right: 3%;
  color: #000;
}

.form label>span {
  width: 10%;
  margin-right: 5%;
}

.form label input {
  border: 1px solid #19242e;
  width: 90%;
  height: 45%;
  font-size: var(--small);
}

#search {
  width: 70%;
  height: 45%;
  align-self: center;
  justify-self: end;
  background: #1dd2af;
  color: #fff;
}

.special-offers {
  padding: 5vw 10vw;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5vw 20vw;
}

.black-tit {
  text-align: center;
  grid-column: 1 / -1;
  font-size: var(--middle);
}

.black-tit>div {
  text-align: center;
  font-size: var(--small);
}

.sp-items {
  transition: all .5s;
  width: 80%;
  border: 2px solid #eeeeee;
  margin: 0 auto;
  background: #eeeeee;
}

.sp-items:hover {
  transform: scale(1.2);
  border: 2px solid #1dd2af;
}

.sp-items>.desc {
  color: #626262;
  height: 4vw;
  font-size: var(--small);
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.sp-items>.desc>div>span {
  display: block;
  font-size: 12px;
}

.sp-items>img {
  display: block;
  width: 100%;
}

.sp-items:nth-child(1) {
  grid-area: 'item1';
}

.sp-items:nth-child(2) {
  grid-area: 'item2';
}

.sp-items:nth-child(3) {
  grid-area: 'item3';
}

.sp-items:nth-child(4) {
  grid-area: 'item4';
}

.holidays-type {
  padding: 5vw 15vw;
  background: url(../img/htbg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.white-tit {
  text-align: center;
  font-size: var(--middle);
  color: #fff;
  margin-bottom: 4vw;
}

.white-tit>div {
  font-size: var(--small);
  color: #9eafc0;
}

.ht-content {
  display: flex;
  justify-content: space-between;
}

.ht-items {
  font-size: 10vw;
  text-align: center;
}

.ht-items>div {
  font-size: var(--middle);
  color: #9eafc0;
}

.happy-clients {
  padding: 5vw 10vw;
}

.happy-clients>.black-tit {
  margin-bottom: 4vw;
}

.hc-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hc-items {
  width: 22vw;
  border: 1px solid #eee;
  margin-top: 3px;
  padding: 20px;
  transition: all .5s;
  color: #b8b8b8;
}

.hc-items:hover {
  border-top: 4px solid #1dd2af;
  margin-top: 0;
  color: #717171;
}

.hc-client {
  color: #1dd2af;
  font-size: 1.4vw;
}

.hc-desc {
  font-size: var(--small);
}

.footer {
  background: #2c3e50;
  padding: 20px 0; 
  position: relative;
}

.ft-links {
  width: 70vw;
  display: flex;
  margin: 0 auto;
}

.ft-items {
  width: 23%;
  padding-right: 2%;
  font-size: 0;
}

.ft-items>h2 {
  color: #20b49c;
  font-size: var(--middle);
  margin-bottom: 10px;
}

.ft-items p {
  color: #fff;
  font-size: var(--small);
  line-height: 2vw;
}

.ft-activities {
  margin-bottom: 1vw;
  box-sizing: border-box;
  padding-left: 3vw;
  position: relative;
}

.ft-activities>img {
  width: 2vw;
  height: 2vw;
  position: absolute;
  top: 8px;
  left: 0;
  border: 2px solid #000;
}

.ft-activities>div {
  color: #1dd2af;
  font-size: var(--small);
}

.ft-items input {
  margin-top: 1vw;
  width: 70%;
  height: 2vw;
  font-size: var(--small);
  color: #999;
  text-indent: 5%;
  margin-right: 4px;
}

.ft-items button {
  margin-top: 1vw;
  height: 2vw;
  background: #1dd2af;
  color: #fff;
  line-height: 22%;
  padding: 0 5%;
}

.ft-tags {
  display: inline-block;
  font-size: var(--small);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 4px;
  margin: 4px;
}

.ft-items>p>a {
  color: #1dd2af;
}

.ft-items:last-child {
  margin-bottom: 20px;
}

.foot {
  padding: 2vw 15vw 4vw;
  border-top: 1px solid #394c5f;
}

.foot-links:hover {
  color: #1ec8a9;
}

.foot>div {
  text-align: center;
  color: #9dafc0;
}

.foot>div>span {
  color: #fff;
  margin: 0 10px;
}

#back-to-top::before {
  content: '↑';
  position: absolute;
  top: 10px;
  left: -10px;
  color: #fff;
  font-size: 20px;
}

#back-to-top {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 0;
  height: 0;
  border-bottom: 40px solid #1ec8a9;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

@media screen and (max-width: 1024px) {
  .bar-wrap {
    z-index: 1;
    width: 100vw;
  }

  .drop {
    display: block;
    width: 3vw;
    height: 3vw;
  }

  .bar-links-wrap {
    overflow: hidden;
    position: absolute;
    background: #2c3e50;
    z-index: 1;
    transition: all 1s;
    display: grid;
    width: 0px;
    height: 100vh;
    padding: 10vh 0;
    grid-row-gap: 4vh;
    grid-template-columns: none;
    grid-template-rows: repeat(4, minmax(auto, 3vw));
  }

  .bar-links {
    border: none;
    min-width: 70vw;
  }

  .bar-icons {
    border: none;
    justify-content: space-evenly;
    line-height: 3vw;
  }

  .nav-wrap {
    width: 100vw;
    text-indent: 10px;
  }

  .nav-main {
    width: 85vw;
  }
}

@media screen and (max-width: 768px) {
  .drop {
    height: 4vw;
    line-height: 4vw;
  }

  .bar-links {
    height: 4vw;
    line-height: 4vw;
  }

  .bar-icons {
    height: 4vw;
    line-height: 4vw;
  }

  .special-offers {
    padding: 5vw 0;
  }
}

@media screen and (max-width: 414px) {
  .drop {
    height: 5vw;
    line-height: 5vw;
  }

  .bar-links {
    height: 5vw;
    line-height: 5vw;
  }

  .bar-icons-wrap {
    width: 97vw;
    justify-content: space-evenly;
  }

  .bar-icons {
    height: 5vw;
    line-height: 5vw;
  }

  .logo {
    display: block;
    margin: 10px auto;
    font-size: 6vw;
  }

  .nav-wrap {
    position: relative;
  }

  .nav-main {
    z-index: 2;
    position: absolute;
    transform: translate(0, calc(5vw + 20px));
    width: 100vw;
    height: 0px;
    overflow: hidden;
    font-size: 0px;
    transition: all 1s;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    height: 24vw;
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
  }

  .form-tit {
    padding: 0 5%;
    border: none;
    text-align: center;
    line-height: 6vw;
  }

  .form label input {
    height: 60%;
  }

  #search {
    height: 60%;
    width: 30%;
    line-height: 60%;
  }

  .special-offers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8vw 46vw 46vw;
  }

  .sp-items>.desc {
    height: 10vw;
  }

  .ht-content {
    flex-wrap: wrap;
  }

  .ht-items {
    width: 22vw;
  }

  .hc-content {
    flex-direction: column;
  }

  .hc-items {
    width: calc(80vw - 40px);
    margin-bottom: 6px;
  }

  .ft-links {
    flex-direction: column;
  }

  .ft-items {
    width: 100%;
  }

  .ft-items>h2 {
    margin-top: 20px;
  }

  .ft-items p {
    line-height: 4vw;
  }

  .ft-items input {
    height: 4vw;
  }

  .ft-items button {
    height: 4vw;
  }

  .ft-activities>img {
    width: 4vw;
    height: 4vw;
  }

  .ft-activities {
    padding-left: 6vw;
  }

  .ft-items>.m {
    margin-top: 0;
  }
  
  .foot {
    margin-bottom: 6vw;
  }
}

